@font-face {
    font-family: "DungGeunMo";
    src: url('./src/fonts/DungGeunMo.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    font-family: "DungGeunMo", sans-serif;
}

/*<main.html>*/

.mainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainBtnSet{
    display: flex;
    flex-direction: column;
}
.mainPage button{
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    width: 300px;
    height: 150px;
    border: 5px solid black;
}
.mainPage button:hover{
    font-size: 60px;
}

.mainStartbtn{
    border-top-left-radius : 150px;
    border-top-right-radius : 150px;
    background-color: red;
}
.mainHelpbtn{
    border-bottom-left-radius : 150px;
    border-bottom-right-radius : 150px;
    background-color: white;
}
/*</main.html>*/

/*<help.html>*/
section{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textBox{
    width: 300px;
    border: 5px double black;
    border-radius: 5px;
    position: relative;
}
.textBox p{
    padding: 10px;
}

/*</help.html>*/

/*<bread.html>*/

.main-bread{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-bread li{
    list-style: none;
}
.bread-list::after{
    content: "";
    display: block;
    clear:both;
}

.bread-list__item {
    float: left;
    margin-right: 80px;
    margin-bottom: 40px;
}

.bread-list__item:nth-child(3n){
    margin-right: 0;
}

.bread-list__item img{
    display: block;
    width: 100%;
}
/*</bread.html>*/
/*<sticker.html>*/
.sandb {
    display: flex;
    justify-content: center; /* 요소를 가로로 중앙 정렬 */
    align-items: center; /* 요소를 세로로 중앙 정렬 */
  }


.sandb button{
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    width: 300px;
    height: 150px;
    border: 5px solid black;
}
.sandb button:hover{
    font-size: 60px;
}

.sticker{
    width: 380px;
    height: 500px;
    position: relative;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px gray;
    margin-right: 60px;
}

.sticker div{
    display: flex;
    height:30px;
    border: 1px solid black;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

#poke_no{
    width: 60px;
    position: absolute;
    top:20px;
    left:20px;
}
#poke_img{
    width: 300px;
    height: 300px;
    margin-top:100px;
    margin-left:40px;
}
#poke_name{
    width: 110px;
    justify-content:end;
    padding-right: 40px;
    position: absolute;
    top:20px;
    left:20px;
}
#poke_label{
    width: 150px;
    position: absolute;
    bottom:20px;
    right:20px;
}

.gray {
    margin-top:200px;
    display: flex;
    flex-direction: column;
}
.graytop {
    width: 400px;
    height: 120px;
    background-color: gray;
    border: 2px solid black;
    border-bottom: none;
    transition: transform 1s; /* 회전 애니메이션을 위한 트랜지션 설정 */
    transform-origin: bottom right; /* 우측 하단을 기준으로 회전 */
}
.graybot {
    width: 400px;
    height: 400px;
    background-color: gray;
    border: 2px solid black;
}
/*</sticker.html>*/
