<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 페이지</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <img src="../src/logo.png" style="width: 255px;height: 112px;" onclick="location.href='/'">
    </header>

    <div class="main-bread">
        <div class="textBox" style="margin: 0 auto;">
            <p>먹고 싶은 빵을 고르세요!</p>
            <p class="arrow" style="position:absolute;bottom:0px;right:0px">▼</p>
        </div>

        <ul class="bread-list">
            <li class="bread-list__item" ><img class="breadImg" src="../src/이브이빵.jpg" style="width: 250px;height: 250px;" onclick="location.href='/package'">이브이빵</li>
            <li class="bread-list__item"><img class="breadImg" src="../src/냐오하빵.jpg" style="width: 250px;height: 250px;" onclick="location.href='/package'">냐오하빵</li>
            <li class="bread-list__item"><img class="breadImg" src="../src/파이리빵.jpg" style="width: 250px;height: 250px;" onclick="location.href='/package'">파이리빵</li>
            <li class="bread-list__item"><img class="breadImg" src="../src/피카츄빵.jpg" style="width: 250px;height: 250px;" onclick="location.href='/package'">피카츄빵</li>
            <li class="bread-list__item"><img class="breadImg" src="../src/꼬부기빵.jpg" style="width: 250px;height: 250px;" onclick="location.href='/package'">꼬부기빵</li>
            <li class="bread-list__item"><img class="breadImg" src="../src/로켓단빵.jpg" style="width: 250px;height: 250px;" onclick="location.href='/package'">로켓단빵</li>
        </ul>
    </div>
    <script src="function.js"></script>

</body>
</html>