<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뮤를 찾아서..</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        ul{
            width: 300px;
            border: 5px double black;
            border-radius: 5px;
        }
        li{
            margin: 20px 10px;
            list-style: none;
        }
        li:hover{
            list-style: "▶";
        }
    </style>
</head>
<body>
    <header>
        <img src="/src/logo.png" style="width: 255px;height: 112px;" onclick="location.href='/'">
    </header>

    <section>
        <h1>[뮤를 찾아서!]</h1>
        <br>
        <img src="/src/오박사.jpg">
        <div class="textBox">
            <p>이 게임은 환상의 포켓몬 뮤를 찾을때 까지 빵을 사다가 통장이 텅장이 된 포덕 학생들을 위한 대리만족 게임이란다.</p>
            <p class="arrow" style="position:absolute;bottom:0px;right:0px">▼</p>
        </div>
        <br>
        <ul>
            <li>포켓몬 타입에 맞는 배경화면 선정</li>
            <li>띠부띠부씰과 같은 모습</li>
            <li>모바일 규격에 맞는 반응형 웹 구현</li>
            <li>관동지방(#1~#151)까지의 포켓몬 구현</li>
        </ul>
        <button onclick="clearLocalStorage()">도감 초기화</button>

    </section>
    <script src="/function.js"></script>
    <script>
        function clearLocalStorage() {
            let sure = confirm("정말 도감을 초기화하겠습니까? 한번 초기화된 도감은 복구되지 않습니다.")

            if(sure){
                localStorage.clear() ;
                alert("도감이 초기화되었습니다.");
            }
        }
    </script>
</body>
</html>