<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뮤를 찾아서..</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" href="../src/favicon.ico" />
</head>
<body>
    <div class="mainPage">
        <img id="logoImg" src="/src/logo.png" style="width: 796px;height: 314px;" onclick="location.href='/'">
        <div class="textBox">
            <p>뮤의 띠부띠부씰을 찾아서 ..</p>
            <p class="arrow" style="position:absolute;bottom:0px;right:0px">▼</p>
        </div>

        <div class="mainBtnSet">
            <button class="mainStartbtn" type="button" onclick="location.href='/bread'">START!</button>
            <button class="mainHelpbtn" type="button" onclick="location.href='/help'">도움말</button>
        </div>
    </div>
    <script src="/function.js"></script>
</body>
</html>
