<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 페이지</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div id="mainPage">
        <img src="../src/logo.png" style="width: 796px;height: 314px;">
        <h3>뮤의 띠부띠부씰을 찾아서 ..</h3>

        <div id="mainBtnSet">
            <button id="mainStartbtn" type="button" onclick="location.href='bread.html'" >START!</button>
            <button id="mainHelpbtn" type="button" onclick="location.href='help.html'">도움말</button>
        </div>
    </div>
</body>
</html>