<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="pokedexPage">
    <img src="../src/logo.png" style="width: 255px;height: 112px;" onclick="location.href='/'">
    <div class="pokedexBtnSet">
        <button class="mainStartbtn" type="button" onclick="location.href='/bread'">계속하기</button>
        <div>
            <button class="orderInput" onclick="displayCards('input')">획득순</button>
            <button class="orderId" onclick="displayCards('ascending')">도감순</button>
        </div>

    </div>
    <div class="textBox">
        <p id="txt_name">이때까지 모은 포켓몬을 확인 할 수 있는 곳 입니다. <br>획득순/도감순으로 정렬 할 수 있습니다.<br>사진을 클릭하면 스티커 원본을 볼 수 있습니다.</p>
        <p class="arrow" style="position:absolute;bottom:0px;right:0px">▼</p>
    </div>
</div>
<div id="detail" class="detail" style="display:none;"></div>

<div id="cards" class="cards-container"></div>

<script src="/function.js"></script>
</body>
</html>
