<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 페이지</title>
    <link rel="stylesheet" href="../style.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var grayTop = document.querySelector('.graytop');
            var grayBot = document.querySelector('.graybot');
            grayTop.addEventListener('click', function() {
                this.style.transform = 'rotate(60deg)';
                setTimeout(function() {
                    window.location.href = 'sticker2.html';
                }, 1000); // 0.5초 후에 sticker2.html로 이동
            });
            grayBot.addEventListener('click', function() {
                grayTop.style.transform = 'rotate(60deg)';
                setTimeout(function() {
                    window.location.href = 'sticker2.html';
                }, 1000); // 0.5초 후에 sticker2.html로 이동
            });
        });
    </script>
</head>
<body>
    <header>
        <img src="../src/logo.png" style="width: 255px;height: 112px;" onclick="location.href='main.html'">
    </header>

    <dic class="sandb">
        <div gray>
            <div class="graytop"></div>
            <div class="graybot"></div>
        </div>
        <div class="textBox">
            <p>클릭하여 스티커(을)를 해제하세요!</p>
            <p style="position:absolute;bottom:0px;right:0px">▼</p>
        </div>
    </div>
</body>
</html>