<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 페이지</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <img src="../src/logo.png" style="width: 255px;height: 112px;" onclick="location.href='main.html'">
    </header>

    <div class="sticker">
        <div id="poke_no">
            <p>no.</p>
        </div>
        <div id="poke_name">
            <p>name</p>
        </div>
        <div id="poke_img">
        </div>
        <div id="poke_label">
            <p>@Pokémon</p>
        </div>
    </div>
</body>
</html>